{% extends "Comments/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
    {% for comment in comments %}
        <div class="media">
            <div class="media-left media-top">
                <img src="{% static "img/fb_icon.png" %}" class="media-object" style="width:80px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ comment.name }} - id:{{ comment.id }}
                    <small><i>Posted on {{ comment.created }}</i>
                        <a href="#"><i class="fa fa-trash-o" aria-hidden="true"
                                       onClick="removeComment({{ comment.id }})"></i>
                        </a>
                    </small>
                </h4>
                <p>{{ comment.text }}</p>
            </div>
        </div>
        <hr>
    {% endfor %}


    <script>
        // ref. https://docs.djangoproject.com/en/1.11/ref/csrf/#ajax
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function removeComment(id) {
            jQuery.ajax({
                url: "http://127.0.0.1:8000/delete/",
                type: "POST",
                data: {
                    "id": id
                }
            }).done(function (data, textStatus, jqXHR) {
                console.log("HTTP Request Succeeded: " + jqXHR.status);
                location.reload();
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log("HTTP Request Failed");
            }).always(function () {
            });
        }
    </script>

{% endblock %}